.answer-card {
  display: grid;
  justify-items: flex-start;
  text-align: left;
  padding: 0.5rem 1rem;
  min-width: 10rem;
  display: grid;
  border: 1px solid #ee1144;
  gap: 0.5rem;
}
.answer-card h4,
.answer-card h2 {
  color: white;
}
