* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  background-color: #131619;
  min-height: 100vh;
}

.main > h2 {
  text-align: center;
  color: white;
}

